html{
    background:radial-gradient(rgba(25, 25, 26, 0.85),rgba(32, 32, 32, 0.85)) ;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    background-color: aliceblue;
    width: 100%;
    height: 12rem;
}
header a{
    font-size: 155%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-left: .5rem
}
.B端scher{
    padding-left: 66rem;
}
body header p{
    font-weight: bold;
    padding-left: 27rem;
    font-size: 225%;
    font-family: Copperplate Gothic Light;
}
#Niveau{
    font-family: Copperplate Gothic Light;
    padding-left: 32rem;
    font-size: 160%;
}
@media(max-width:405px){
    .B端scher{
        padding-left: 5rem;
    }
    header p{
    margin-left: -25rem;
    }
}
@media(max-width:395px){
    .B端scher{
        padding-left: 5rem;
    }
    header p{
    margin-left: -26rem;
    }
}
@media(max-width:375px){
    .B端scher{
        margin-left: -61rem;
    }
    header p{
        margin-left: -26rem;
        
    }
    #Niveau{
        margin-left: -29rem;
    }

}
